* {
    font-family: 'Lato';
    margin: 0;
    pading: 0;
}

body {
    background-color: black;
}

h1 {
    font-size: 2em;
    text-indent: 4px;
}

.screen(@url, @width, @height, @top) {
    background: @url no-repeat;
    border: none;
    height: @height;
    width: @width;
    overflow: hidden;
    position: absolute;
    top: @top;
    left: 0;
}

#hallway {
    .screen(url('../images/dv14-hallwall.jpg'), 1280px, 800px, 70px);
}

#cinema {
    margin-top: 130px;
    .screen(url('../images/dv14-cinemawall.jpg'), 1920px, 817px, 0);
}

#hallway #schedule {
    right: 40px;
}

#cinema #schedule {
    left: 240px;
}

#carousel {
    width: 750px;
    height: 700px;
    top: 70px;
    right: 50px;
    position: absolute;
    overflow: hidden;

    > .panes {
        width: 400%;
        left: 0;
//        left: -300%;
        list-style: none;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;

        @animationDuration: 40s;
        animation: carouselAnim @animationDuration infinite;
        -moz-animation: carouselAnim @animationDuration infinite;
        -webkit-animation: carouselAnim @animationDuration infinite;

        > li {
            position: relative;
            float: left;
            width: 25%;

            h1, h2 {
                color: #ebeb00;
                font-weight: bolder;
                text-shadow: #ebeb00 0 0 2px;
                -webkit-text-stroke: 2px #ebeb00;
                letter-spacing: 5px;
                text-align: center;
            }

            .listEntry {
                margin: 3px 5px;
                position: relative;
                background-color: #000;
                color: #fff;
                height: 75px;
                clear: both;
                overflow-y: hidden;
                border: 1px solid #ebeb00;
                -webkit-border-radius: 10px;
                -webkit-box-shadow: #ebeb00 0 0 5px;

                .room {
                    float: left;
                    width: 60px;
                    position: relative;
                    font-size: 3em;
                    margin: 8px 0 0;
                    padding: 0;
                    text-align: center;
                    vertical-align: middle;
                }

                .image {
                    margin-top: 4px;
                    margin-right: 5px;
                    float: left;

                    img {
                        width: 60px;
                        height: 66px;
                    }
                }

                .text {
                    vertical-align: middle;
                    font-size: 1.3em;
                    word-wrap: normal;
                    margin: 3px;
                }

                .highlight {
                    color: #ebeb00;
                }

                .warning {
                    color: orange;
                }

                .error {
                    color: #ff4520;
                }

                .gamePoints {
                    float: left;
                    width: 200px;
                    position: relative;
                    font-size: 3em;
                    margin: 8px 0 0;
                    padding: 0;
                    text-align: center;
                    vertical-align: middle;
                }

            }
        }
    }
}

@keyframes carouselAnim {
    0%    { left:0; }
    20%   { left:0; }
    25%   { left:-100%; }
    45%   { left:-100%; }
    50%   { left:-200%; }
    70%   { left:-200%; }
    75%   { left:-300%; }
    95%   { left:-300%; }
    100%  { left:0; }
}

@-moz-keyframes carouselAnim {
    0%    { left:0; }
    20%   { left:0; }
    25%   { left:-100%; }
    45%   { left:-100%; }
    50%   { left:-200%; }
    70%   { left:-200%; }
    75%   { left:-300%; }
    95%   { left:-300%; }
    100%  { left:0; }
}

@-webkit-keyframes carouselAnim {
    0%    { left:0; }
    20%   { left:0; }
    25%   { left:-100%; }
    45%   { left:-100%; }
    50%   { left:-200%; }
    70%   { left:-200%; }
    75%   { left:-300%; }
    95%   { left:-300%; }
    100%  { left:0; }
}

#tweets {
    position: absolute;
    left: 0;
    top: 50px;
    width: 860px;
    height: 100%;
    display: table;

    .container {
        display: table-cell;
        vertical-align: middle;
        width: 780px;

        .border {
            > div {
                width: 760px;
                height: 100px;
                clear:both;
                margin: 20px;
                margin-top: 60px;
                margin-bottom: 60px;
                background: rgba(10,10,10,.9);
                -webkit-border-radius: 10px;
                border: solid 1px #ebeb00;
                -webkit-box-shadow: #ebeb00 0 0 5px;

                overflow: hidden;
            }
        }

        .image{
            img {
                width: 100px;
                height: 100px;
                float: right;
            }
        }

        .tweet {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 1.40em;
            font-weight: bold;
            line-height: 1.2em;
            color: white;
            float: none;
            text-shadow: 2px 2px 2px #000;

            .author {
                color: #ff4520;
                //color: orange; //rgb(0,122,224);
                font-size: 0.95em;
                clear: left;
            }

        }
    }

}

#notice {
    opacity: 0.8;
    font-size: 2em;
    color: #ffffff;
    background-color: black;
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.7);
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}
